ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


a:link, a:visited{
    color: #0081C9;
}

.join{
    color: white;
}

.main_nav{
    margin-top: 0px;
    width: 100%;
    height: 7rem;
    display: grid;
    grid-template-columns: 13rem 7fr 1fr 3fr 13rem;
    
    background-color: white;
    box-shadow: 20px 20px 120px #84b9f1;
}

.logo{
    display: grid;
    justify-content: start;
    align-items: center;
    grid-column: 2/3;
}
.logo img{
    height: 7rem;
}

.menu-link{
    font-family: 'Montserrat',sans-serif ;
    grid-column: 3/4;
}

.menu-link ul{
    text-transform: capitalize;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu-link ul li a{
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.menu-link li a.active{
    color: rgb(71, 209, 240);
}

.buttonEffect :hover{
    color: rgb(71, 209, 240);
    text-decoration: underline;
    transform: scale(0.96);
    transition: 0.3s ease-in-out;
}

.affiliated{
    grid-column: 4/5;
}

.affiliated ul{
    height: 7rem;
    display: grid;
    align-items: center;
    justify-content: flex-end;
}

.affiliated ul li{
    text-align: right;
    
    
}


.affiButtonG{
    height: 3.5rem;
   
}

.affiButtonG button{
    font-size: 1rem;
}
