ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


a:link, a:visited{
    color: black;
}


.main_nav{
    margin-top: 0px;
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 9rem 3fr 1fr 2fr 9rem;
    
    background-color: white;
    box-shadow: 20px 20px 110px #674747;
}

.logo{
    display: grid;
    justify-content: start;
    align-items: center;
    grid-column: 2/3;
}
.logo img{
    height: 5rem;
}

.menu-link{
    font-family: 'Montserrat',sans-serif ;
    grid-column: 3/4;
}

.menu-link ul{
    text-transform: capitalize;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu-link ul li a{
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.menu-link li a.active{
    color: darkblue;
}

.menuNavLink :hover{
    color: rgb(71, 209, 240);
    text-decoration: underline;
}

.affiliated{
    grid-column: 4/5;
}

.affiliated ul{
    height: 5rem;
    display: grid;
    align-items: center;
    justify-content: flex-end;
}

.affiliated ul li{
    text-align: right;
}
.affiButtonG{
    height: 2rem;
}
